body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: minmax(0px, 75px) 2fr 3fr 3fr 2fr;
  grid-template-columns: minmax(50px, 500px) minmax(300px, 500px) minmax(300px, 500px) minmax(25px, 500px);
  height: 100vh;
  gap: 10px;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  background-image: linear-gradient(rgba(240, 240, 240, 0.9), rgba(150, 150, 150, 0.9));
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: rgba(25, 180, 190, 1);
}

.header img {
  height: 50px;
  width: auto;
  padding: 0 20px
}

.hero {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.before-after,
.detailing-image,
.map-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}

.text1,
.text2 {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.text2 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.before-after {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.detailing-image {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.left-bar, .right-bar {
  grid-row: 3 / 6;
  background-image: linear-gradient(rgb(25, 180, 190), rgb(13, 101, 107));
}

.left-bar {
  grid-column: 1 / 2;
}

.right-bar {
  grid-column: 4 / 5;
}

.contact-info {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  background-image: linear-gradient(#eee, #ddd);
  margin: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.map-image {
  grid-row: 5 / 6;
  grid-column: 3 / 4;
  object-fit: contain;
}